# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Latex intermediates
*.blg
*.bbl
*.idx
*.ilg
*.ind
*.aux
*.lof
*.log
*.lol
*.lot
*.out
*.toc

# Eclipse
.project
.cproject

# backup
*~
*.backup
*.bak


# build directories
build
bin

# binaries
*.oct
*.exe

# Archives     
*.tar
*.gz

#Octave dumps
octave-core
